
<div class="mt-4">
    <form method="POST">
  <div class="form-group">
    <label for="search-input">Search</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter keywords">
  </div>
<label for="course-input">Choose Course</label>
 <select class="form-control" name='course' id="course-input">
      <option>Computer Science</option>
      <option>MBA</option>
      <option>Information Technology</option>
      <option>Data Science</option>
      <option>Cyber Security</option>
    </select>
    <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>